/*
* Made by Erik Terwan
* 24th of November 2015
* MIT License
*
*
* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/

body
{
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover
{
    color: tomato;
}

#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu
{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul
{
    transform: none;
}




body{
    background: #ffffff;
}
#menuToggle{
    position: initial;
}
#menuToggle span{
    width: 68px;
    height: 9px;
    border-radius: 0;
    background: #000000;
    margin-bottom: 10px;
}
#menu{
    margin-top: -120px;
    padding-top: 12px;
    padding-left: 0;
    width: 75%;
    background: #ffffff; 
    z-index: 3;
    height: 101%;
}
#menu a{
    text-decoration: none;
}
#menu a li{
    font-size: 4pc;
    padding-left: 80px;
    color: #929292;
}
#menu a li.active,
#menu a li:hover{
    border-left: 20px solid;
    padding-left: 60px;
}
#menu a li.home.active,
#menu a li.home:hover{
    color: #000000;
}
#menu a li.cultura.active,
#menu a li.cultura:hover{
    color: #C51B1B;
}
#menu a li.esportes.active,
#menu a li.esportes:hover{
    color: #17D6FF;
}
#menu a li.conteudoteca.active,
#menu a li.conteudoteca:hover{
    color: #8520EA;
}
#menu a li.servicos.active,
#menu a li.servicos:hover{
    color: #F7B733;
}
#menu a li.unidades.active,
#menu a li.unidades:hover{
    color: #56AB2F;
}
#menu a li.cursos.active,
#menu a li.cursos:hover{
    color: #FDEB71;
}
#menu hr{
    width: 50%;
    margin: 50px 0 50px 80px;
}
#menu .profile{
    padding: 50px 0 70px 120px;
}
#menu .profile .name{
    padding-top: 20px;
}
#menu .profile .name p:nth-child(1){
    font-size: 50px;
    color: #000000;
    text-align: left;
    margin-bottom: 0;
}
#menu .profile .name p:nth-last-child(1){
    color: #000000;
    text-align: left;
    font-size: 40px;
    font-style: italic;
}
#menu .profile img{
    width: 170px;
    border-radius: 130px;
}
#menuToggle input{
    width: 120px;
    height: 82px;
}
#logo{
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-top: -100px;
}
nav{
    padding: 60px 50px;
    margin-left: -2px;
}
.slider {
    margin: 0 auto;
    color: #333;
    /* background: #419be0; */
    /* height: 500px; */
    margin-bottom: 60px;
}

.slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
    height: auto;
}
.slick-slide.slick-current img{
    box-shadow: 0px 14px 42px rgba(0, 0, 0, 0.5);
}
.slick-slide:not(.slick-current){
    /* height: 400px; */
    /* margin-top: 50px; */
    /* padding: 60px; */
    opacity: 0.6;
    transform: scale(0.95);
}
.slider .center img{
    width: 100%;
}
i{
    margin-right: 40px;
}
#background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    z-index: 1;
    opacity: 0.7;
}
.hamburger{
    z-index: 3!important;
}
#menuToggle input{
    width: 150px;
    height: 150px;
    z-index: 99;
}
#menuToggle input:checked ~ span{
    transform: rotate(45deg) translate(20px, 27px);
    left: 83%;
    width: 50px;
    background: #ffffff;
}
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -10px);
    width: 50px;
    background: #ffffff;
}
#menuToggle input:checked{
    left: 75%;
    height: 100%;
}
.show{
    display: initial!important;
}
.sections{
    /* margin: 0 10px 70px; */
}
.sections .box{
    width: 50%;
    height: 350px;
    background: #000000;
    float: left;
    float: left;
    padding: 50px 10px;
}
.sections .box p{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}
.sections .box i{
    margin: 0 auto;
    font-size: 160px;
    display: block;
    text-align: center;
    width: 250px;
    color: #ffffff;
    margin-bottom: 20px;
}
.sections .box.cultura{
    background: linear-gradient(50.59deg, #C51B1B -16.82%, #FF5F4F 100.1%);
}
.sections .box.esportes{
    background: linear-gradient(228.78deg, #17D6FF -22.78%, #3A7BD5 100.09%);
}
.sections .box.conteudoteca{
    background: linear-gradient(231.54deg, #ED22FF 2.51%, #8520EA 99.81%);
}
.sections .box.servicos{
    background: linear-gradient(133.13deg, #FC4A1A -43.39%, #F7B733 107.17%);
}
.sections .box.unidades{
    background: linear-gradient(52.35deg, #56AB2F -6.88%, #A8E063 102.88%);
}
.sections .box.cursos{
    background: linear-gradient(49.97deg, #FDEB71 5.25%, #F8D800 100.19%);
}
.slider .center .bottom{
    width: 100px;
    height: 100px;
    background: black;
    position: relative;
    top: -59px;
    left: 82%;
    border-radius: 100px;
}
.slider .center .bottom i{
    text-align: center;
    display: block;
    width: 100%;
    font-size: 68px;
    padding-top: 15px;
    color: #ffffff;
}
.slider .center .bottom.cultura{
    background: linear-gradient(45.62deg, #C51B1B -16.62%, #FF5F4F 100.09%);
}
.clear{
    clear: both;
}


/* CONTEUDOTECA */
.conteudoteca-section .header{
    background-image: url("../image/header/conteudoteca.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 60px;
    margin-bottom: 80px;
}
.conteudoteca-section .header .header-back{
    font-size: 30px;
    padding: 50px 50px 0;
}
.conteudoteca-section .header .header-back div:nth-child(1){
    text-align: left;
}
.conteudoteca-section .header .header-back div:nth-child(3){
    text-align: right;
}
.conteudoteca-section .header .header-back i{
    font-size: 5pc;
    display: block;
    width: 100%;
    color: #ffffff;
}
.conteudoteca-section .header .header-back a{
    text-decoration: none;
}
.conteudoteca-section .header .header-back img{
    /* position: absolute; */
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-top: -20px;
    filter: invert(100%);
}

.conteudoteca-section .header h2{
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
    font-size: 44px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.conteudoteca-section .main{
    text-align: center;
    padding: 0 80px;
    color: #000000;
}
.conteudoteca-section .main p:nth-child(1),
.conteudoteca-section .main p:nth-child(2){
    font-size: 50px;
    margin-bottom: 80px;
}
.conteudoteca-section .main span{
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 150px;
}
.conteudoteca-section .main .areas{
    margin-top: 100px;
}
.conteudoteca-section .main .areas a{
    color: #ffffff;
    background: #000000;
    display: block;
    padding: 18px;
    margin-bottom: 70px;
}
.conteudoteca-section .main .areas a h1{
    font-size: 55px;
}
.conteudoteca-section .main .areas a:nth-child(3){
    padding: 38px;
}