@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x2c2fs');
  src:  url('fonts/icomoon.eot?x2c2fs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x2c2fs') format('truetype'),
    url('fonts/icomoon.woff?x2c2fs') format('woff'),
    url('fonts/icomoon.svg?x2c2fs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-location2:before {
  content: "\e948";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-dribbble:before {
  content: "\eaa7";
}
