@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h4fzr4');
  src:  url('fonts/icomoon.eot?h4fzr4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h4fzr4') format('truetype'),
    url('fonts/icomoon.woff?h4fzr4') format('woff'),
    url('fonts/icomoon.svg?h4fzr4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e90b";
}
.icon-dollar:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-back:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e906";
}
.icon-unidades:before {
  content: "\e900";
}
.icon-servicos:before {
  content: "\e901";
}
.icon-esportes:before {
  content: "\e902";
}
.icon-cursos:before {
  content: "\e903";
}
.icon-cultura:before {
  content: "\e904";
}
.icon-conteudoteca:before {
  content: "\e905";
}
